<mat-list>
    <img src="./assets/images/about-large.jpg" alt="Image" class="card-image" style="height: 100%;width: 100%;">
    <mat-list-item>
        <h3>Need Help?</h3>
    </mat-list-item>
    <mat-list-item>
        <p>Worvy Client</p>
    </mat-list-item>
    <mat-list-item>
        <h3>Contact Us!</h3>
    </mat-list-item>
    <mat-list-item>
        <h3><button mat-fab onclick="window.location.href = 'tel:+919782780726'" style="margin-right:7px">
                <mat-icon>
                    call
                </mat-icon>
            </button>
            <button mat-fab onclick="window.location.href = 'mailto:dheerusuthar@gmail.com'" style="margin-right:7px">
                <mat-icon>
                    email
                </mat-icon>
            </button>
            <button
                onclick="window.location.href = 'intent://send/9782780726#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end'"
                mat-fab style="margin-right:7px">
                <i class="fab fa-whatsapp"></i>
            </button>
        </h3>
    </mat-list-item>
</mat-list>