<div class="container">
    <mat-horizontal-stepper [linear]="true" labelPosition="bottom" #stepper>
        <mat-step>
            <div class="m-3">
                <h5>
                    Begin Worvy Setup!
                </h5>
                <mat-divider></mat-divider>
                <div class="mt-4">
                    Let's get your worvy connected to wifi so you can start using it. click next button to continue.
                </div>
            </div>
        </mat-step>
        <mat-step>
            <div class="m-3">
                <h5>
                    Wait for the device to power up
                </h5>
                <mat-divider></mat-divider>
                <p class="mt-4">
                    Plug In your device to USB and wait for some moment to start the device.
                </p>
            </div>
        </mat-step>
        <mat-step>
            <div class="m-3">
                <h5>
                    Connect To Wifi
                </h5>
                <mat-divider></mat-divider>
                <p class="mt-4">
                    Go To your wifi settings on this device you are using and select the network of the
                    format <b>WORVY-XXXX</b>. It may take up to a minute to display. Wait until you are successfully connected to this wifi.
                </p>
            </div>
        </mat-step>
        <mat-step>
            <div class="m-3">
                <h5 style="color: green">
                    Worvy Connected
                </h5>
                <mat-divider></mat-divider>
                <p class="mt-4">
                    Picture of worvy
                </p>
                <p>
                    GET WIFI LIST FROM WORVY AND SELECT ONE DEVICE TO SET NETWORK WIFI.
                </p>
                <p>
                    <mat-form-field>
                        <input matInput placeholder="Enter Device Name" [(ngModel)]="deviceName" type="text">
                    </mat-form-field>
                </p>
            </div>
        </mat-step>
        <mat-step>
            <div class="m-3">
                <h5>
                    Connect To Your Wifi Router
                </h5>
                <mat-divider></mat-divider>
                <p class="mt-4">
                    LIST OF WIFI
                </p>
                <p>
                    GET WIFI LIST FROM WORVY AND SELECT ONE DEVICE TO SET NETWORK WIFI.
                </p>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <button mat-fab class="float-br" color="primary" [disabled]="matStepper.selectedIndex === 2 || matStepper.selectedIndex === 3 && !deviceName"
        aria-label="Next Step" (click)="nextStep(stepper)">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</div>
<div #dialogue style="display:none;">
    <h1 mat-dialog-title>No network connected!</h1>
    <div mat-dialog-content>
        <p>Please Connect to wifi to discover device.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button cdkFocusInitial>Ok</button>
    </div>
</div>