<div class="container mt-3">
    <h1 class="display-3">Welcome</h1>
    <p class="lead">This is demo app for connecting NodeMCU HW through WiFi to Internet and conigure IoT connection on
        it.</p>
    <hr class="my-4">
    <p>See the paired Devices or Discover the devices available for first time configurations.</p>
    <button mat-flat-button color="accent" routerLink="/devices" role="button">Devices</button>
    <button mat-flat-button color="accent" routerLink="/autoconnect" role="button">Autoconnect Guide</button>
    <button onclick="window.location.href = 'intent:#Intent;action=android.provider.Settings.ACTION_WIFI_SETTINGS;end'"
        mat-flat-button color="accent">
        <i class="fa fa-wifi fa-2x" aria-hidden="true"></i>
    </button>
</div>