<div class="container">
    <div class="m-4">
        <div class="mx-auto">
            <h5>
                Welcome to Worvy!
            </h5>
            <mat-divider></mat-divider>
            <div class="mt-4">
                Get started with these easy steps:
                <ul class="mt-2">
                    <li>
                        Connect your device to Wi-Fi
                    </li>
                    <li>
                        Learn how to use your device
                    </li>
                    <li>
                        Let's get your device connected to wifi so we can start using it.
                        Connect your device to Wi-Fi
                    </li>
                </ul>
            </div>
            <div class="row justify-content-center">
                <button mat-flat-button color="primary"
                    (click)="goToInSecure()">
                    Begin Setup
                </button>
            </div>
        </div>
    </div>
</div>