<mat-sidenav mode="over" #sidenav id="sidenav" closed>
    <mat-list id="menus">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="avatar">
                </div>
                <mat-card-title>
                    Login
                </mat-card-title>
                <mat-card-subtitle>
                    login info
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-nav-list>
            <a class="menu-item" mat-list-item routerLink="/devices" (click)=" sidenav.toggle()">
                <mat-icon>
                    storage
                </mat-icon>Devices
            </a><a class="menu-item" mat-list-item routerLink="/about" (click)=" sidenav.toggle()">
                <mat-icon>
                    library_books
                </mat-icon>Autoconnect Guide
            </a><a class="menu-item" mat-list-item routerLink="/about" (click)=" sidenav.toggle()">
                <mat-icon>
                    outlined_flag
                </mat-icon>About Us
            </a>
        </mat-nav-list>
    </mat-list>
</mat-sidenav>