<app-progressbar></app-progressbar>
<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon id="toolbarMenu" (click)="sidenav.toggle()">
    menu
  </mat-icon>
  <!-- <mat-icon style="margin-right: 10px;">
    <img alt="Image" src="assets/img/toolbar-logo.png" style="width: 100%;height: auto;">
  </mat-icon> -->
  <a routerLink="/home">{{title}}</a>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Change Theme">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <div mat-menu-item>
      <span>Dark Theme</span>&nbsp;&nbsp;
      <mat-slide-toggle (change)="onSetTheme($event)"></mat-slide-toggle>
    </div>
  </mat-menu>
  <!-- <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon> -->
</mat-toolbar>
<mat-sidenav-container fullscreen id="sidenavContainer">
  <mat-sidenav mode="over" #sidenav id="sidenav" closed>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header *ngIf="afAuth.authState | async as user; else loginheader">
          <div class="avatar" mat-card-avatar [style.background-image]="'url(' + user.photoURL + ')'">
          </div>
          <mat-card-title>
            {{user.displayName}}
          </mat-card-title>
          <mat-card-subtitle>
            {{user.email}}
          </mat-card-subtitle>
        </mat-card-header>
        <ng-template #loginheader>
          <mat-card-header>
            <mat-card-title>
              <a mat-list-item routerLink="/login" (click)=" sidenav.toggle()">Login</a>
            </mat-card-title>
          </mat-card-header>
        </ng-template>
      </mat-card>
      <mat-nav-list>
        <a class="menu-item" mat-list-item routerLink="/home" (click)=" sidenav.toggle()">
          <mat-icon>
            home
          </mat-icon>Home
        </a>
        <a class="menu-item" mat-list-item routerLink="/devices" (click)=" sidenav.toggle()">
          <mat-icon>
            storage
          </mat-icon>Devices
        </a>
        <a class="menu-item" mat-list-item routerLink="/autoconnect" (click)=" sidenav.toggle()">
          <mat-icon>
            library_books
          </mat-icon>Autoconnect Guide
        </a><a class="menu-item" mat-list-item routerLink="/about" (click)=" sidenav.toggle()">
          <mat-icon>
            outlined_flag
          </mat-icon>About Us
        </a>
      </mat-nav-list>
    </mat-list>
    <mat-divider></mat-divider>
    <div id="sidenavactions" *ngIf="afAuth.authState | async">
      <button mat-raised-button color="warn" (click)="auth.signOut(); sidenav.toggle()">
        <mat-icon>
          first_page
        </mat-icon>
        Logout
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- chatbot dialogue component -->
    <!-- <app-chat-dialogue></app-chat-dialogue> -->
    <div [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet">
        <div *ngIf="routerLoading" class="ldr-blank">
          <i class="fa fa-spinner fa-pulse fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
      </router-outlet>
    </div>
    <!-- <router-outlet></router-outlet> -->
  </mat-sidenav-content>
</mat-sidenav-container>