<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is demo app for connecting NodeMCU HW through WiFi to Internet and conigure IoT connection on
        it.</p>
    <hr class="my-4">
    <p>See the paired Devices or Discover the devices available for first time configurations.</p>
    <button mat-flat-button color="accent" routerLink="/devices" role="button">Devices</button>
    <button mat-flat-button color="accent" routerLink="/autoconnect" role="button">Autoconnect Guide</button>
    <button mat-flat-button color="accent"
        onclick="window.location.href = 'intent://#Intent;action=android.intent.action.ACTION_WIRELESS_SETTINGS;end'">
        <mat-icon>
            wifi
        </mat-icon>
        Wifi 1
    </button>
    <button mat-flat-button color="accent"
        onclick="window.location.href = 'intent://send/9782780726#Intent;action=android.intent.action.ACTION_WIRELESS_SETTINGS;end'">
        <mat-icon>
            wifi
        </mat-icon>
        Wifi 2
    </button>
    <button mat-flat-button color="accent"
        onclick="window.location.href = 'intent://send/9782780726#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.ACTION_WIRELESS_SETTINGS;end'">
        <mat-icon>
            wifi
        </mat-icon>
        Wifi 3
    </button>
</div>